body{
  background-color: skyblue;
}

.container {
  display: flex;
  justify-content: end;
  margin: auto;
  align-items: flex-end;
  
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #efefef;
  height: 60px;
}

h1 {
  color: red;
}

.welcome {
  margin-right: 30px;
  margin-top: 20px;
  background-color: #e9bf8c;
  border: 10px solid #b37474d3;
  padding: 10px;
  border-radius: 5%;
  
}

.welcomeTitle {
  font-size: 22px;
  color: darkred;
  font-weight: bold;
}

.welcomeList {
  color: #745509;
}

.main {
  
  align-self: flex-start;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: #f05050;
  padding: 10px;
  margin-bottom: 100px;
  margin-top: 100px;
  border: 10px solid darkred;
  border-radius: 5px;
  color: #410808;
}

#resultContainer {
  display: none;
  background-color: #29c929;
  color: #064906;
  font-size: 18px;
  padding: 10px 5px;
  border: 10px solid darkgreen;
  border-radius: 5px;
}

.robot {
  height: 50px;
  width: auto;
}

.sun {
  height: 50px;
  width: auto;
}